.questions {
    width: 80%;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
  
    
}

.questions2 {
    width: 100%;
    padding: 16px;
    text-align: left;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
   
    input {
        width: 100%;
    }
}
.success {
    border: none;
  color: white;
  background-color: green;
  justify-content: center;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  border-radius: 4px;
    }

.author {
    margin: 16px 0;
    color: rgb(167, 164, 164);
    text-align: right;
    margin-right: 5%;
}

